
google-auth-httplib2==0.0.3
google-api-python-client==1.12.8
flask==2.2.5
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
